/* == Google Fonts == */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* == Variable CSS == */
:root {
    --nav-width: 92px;
    /* Colors */

    --first-color: #0C5DF4;
    --bg-color: #12192C;
    --sub-color: #B6CEFC;
    --white-color: #fff;


    /* Fonts */

    --body-font: 'Ubuntu', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z - index */

    --z-fixed: 100;
}

/* == Base == */

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


/* == l nav == */

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}


/* == Nav */

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--first-color);
}

.nav__icon {
    font-size: 1.25rem;
}

.nav__name {
    font-size: var(--small-font-size);
}

/* == Expander == */

.expander {
    width: 150px;
}

/* Add Padding Body */
.body-pd {
    padding: 2rem 0 0 16rem;

}

.active {
    background-color: var(--first-color);
}

/* Collapse */

.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5s;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
}

.collapse__sublink:hover {
    color: var(--white-color);
}

.showCollapse {
    display: block;

}

/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

.text-inner {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.conten-body {
    position: absolute;
    top: 300px;
    padding: 0 207px;
    background: rgba(239, 239, 239, 1);
    width: 1510px;
    height: 210px;
    left: 13.5%;
}

.content-container {
    position: absolute;
    top: 600px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.item-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 18px;
}

.square {
}

.content-image {
    float: left;
    margin-right: 16px;
    width: 128px;
    height: 128px;
}

.content {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    /*   text-align: justify; */
}
